[Unit]
Description=Homeserver
After=network.target

[Service]
WorkingDirectory=/srv/homeserver
ExecStart=/srv/homeserver/homeserver
Type=Notify
Restart=Always

[Install]
WantedBy=default.target
